<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area calculator</title>
</head>
<body>
    <h1 style="text-align: center; color: red;">Choose What you need</h1>
    <div style="text-align: center;">
        <button style="color: cadetblue;"><a href="/traingel">Triangle</a></button> <br><br>
        <button style="color: cadetblue;"><a href="/circle">Circle</a></button> <br><br>
        <button style="color: cadetblue;"><a href="/rectangle">Rectangle</a></button> <br><br>
        <button style="color: cadetblue;"><a href="/square">Squarre</a></button> <br><br>
    </div>
</body>
</html>