<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squarre Area</title>
</head>
<body>
    <button style="color: cadetblue;"><a href="/">Home</a></button> <br><br>

    <h1 style="text-align: center; color: red;">Calculate Squarre Area</h1>
    <div style="text-align: center;">
        <form action="/square" method="POST">
            <div>
                <label for="side"> Enter side value : </label>
                <input type="text" name="side" id="side">
            </div><br><br>
            <button type="submit" style="color: red; background-color: black;">Calculate</button>
    </div>
</body>
</html>