<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangle Area</title>
</head>
<body>
    <button style="color: cadetblue;"><a href="/">Home</a></button> <br><br>

    <h1 style="text-align: center; color: red;">Calculate Triangle Area</h1>
    <div style="text-align: center;">
        <form action="/traingel" method="POST">
            <div>
                <label for="base"> Enter Base value : </label>
                <input type="text" name="base" id="base">
            </div><br><br>
            <div>
                <label for="height"> Enter Height value : </label>
                <input type="text" name="height" id="height">
            </div><br><br>
            <button type="submit" style="color: red; background-color: black;">Calculate</button>
    </div>
</body>
</html>