<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin info</title>
</head>
<body>
    <h1>Admin give theare own info...</h1>
    <div>
        <form action="/admin" method="POST">
            <div>
                <label for="logID"> LogID </label>
                <input type="text" name="logID" id="logID" placeholder="Enter your logID">
            </div><br><br>
            <div>
                <label for="email"> Email Acount</label>
                <input type="text" name="email" id="email" placeholder="Enter your email">
            </div><br><br>
            <div>
                <label for="phone_Number"> phone_Number</label>
                <input type="text" name="phone_Number" id="phone_Number" placeholder="Enter your phone_Number">
            </div><br><br>
            <button type="submit"> Submit </button>
        </form>
    </div>
</body>
</html>