<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <p>
        A web application is an interactive program that runs on a web server and is accessed through a web browser. 
        A web app is built so that the user interface provides data back to the development team that designed it. 
        This data offers insights into customer interests, usage, and preferences that can prove invaluable to product and marketing strategies. 
        The data can also inform optimization and other client-centered aspects of the mobile app or desktop applications.
    </p>
    <div class="container">
        <ul>
            <li><a href="/admin">Admin panal</a></li>
            <li><a href="/moderat"> Moderator panal</a></li>
            <li><a href="/users"> User panal</a></li>
        </ul>
    </div>
</body>
</html>